@media only screen and (max-width: 1024px){
  .container {
    max-width: 720px;
  }
  .col-9 {
    text-align: center;
    max-width: 100%;
  }
  h3{
    text-align: center;
  }
  .row {
    display: block;
  }
  .col-8 {
    max-width: 100%;
  }
}
